#app {
  display: flex;
  flex-direction: column;
  width: 80vw;

  header {
    margin-top: 0.5rem
  }

  .pageContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;

    .Table-table {
      table-layout: unset;

    }

    button.MuiButtonBase-root {
      color: inherit
    }
  }

  .TableFilterCell-flexContainer {
    text-align: center;
  }

  .ToggleModeButton {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    padding: 1rem;
  }

  thead .MuiTableRow-head:first-child {
    // background-color: rgba(66, 165, 245, 0.5);
  }

  button.MuiButton-text:nth-child(n+3) {
    // color: #42a5f5
  }


  #footer {
    position: relative;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 1rem 0;
  }
}