#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.TableFilterCell-flexContainer {
  text-align: center;
}

.ToggleModeButton {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  padding: 1rem;
}

thead .MuiTableRow-head:first-child {
  // background-color: rgba(66, 165, 245, 0.5);
}

button.MuiButton-text:nth-child(n+3) {
  color: #42a5f5
}