#app {
  display: flex;
  flex-direction: column;
  width: 100%;

  header {
    margin-top: 0.5rem
  }

  .pageContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;  

    button.MuiButtonBase-root {
      color: inherit
    }
  }

  .TableFilterCell-flexContainer {
    text-align: center;
  }

  .ToggleModeButton {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    padding: 1rem;
  }

  #footer {
    position: relative;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 1rem 0;
  }
}